.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    border-radius: 50%;
    margin: 0;
    width: 200px;
    height: 200px;
}

.name{
    font-size: 2rem;
    font-weight: 500;
    margin: 20px;
    color: #727373;
}

hr{
    width: 300px;
    background-color: #a06bff;
    height: 5px;
    border-radius: 20px;
    border: none 0;
}