body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  margin: 50px auto;
  padding: 30px;
  background-color: black;
  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
}

h1 {
  color: white;
}

p{
  color: white;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
  }
  100% {
    box-shadow: 0 0 .4rem #fff,
              0 0 .4rem #fff,
              0 0 2.2rem #bc13fe,
              0 0 1rem #bc13fe,
              0 0 3rem #bc13fe,
              inset 0 0 1.5rem #bc13fe;
  }
}

nav {
  text-align: center;
  padding: 10px 0;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
}

.inactive-link {
  color: blue;
  font-size: x-small;
}

.active-link {
  color: red;
  font-size: x-small;
}

button {
  background-image: linear-gradient(to right, #0fa0f4, #7C4DFF);
  color: #fff;
  border:none; 
  border-radius:5px; 
  padding:10px;
  min-height:35px; 
  min-width: 40px;
  font-weight: bold;
  font-size: x-small;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.login-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1px; 
}


.login-form input {
  width: 150px;
  margin-bottom: 10px;
  padding: 5px 5px;
  font-size: x-small;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  min-height:35px; 
  min-width: 40px;
  padding: 5px 10px;
  font-size: x-small;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #45a049;
}